@import "../../config";

:host, .app-sidebar {
  height: 100%;
}
.app-sidebar {
  border-right:5px solid $primary_color;
  transition: 0.4s all;
  overflow: hidden;
  width: 70vw;
  max-width: 240px;
  background-color: $secondary_color;
  &.disabled {
    transition: 0.4s all;
    width: 0;
  }
  .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, $primary_color 50%, transparent 50%);
    transition: background-position 1s;
    &:hover {
      background-position: 100% 0%;
    }
    img {
      width: 30px;
      margin: 15px;
    }
  }
}



