<h1 class="page-header">O que deseja fazer?</h1>
<div class="home-big-icons">
  <div class="enviar-conteudo">
    <div>
      <img src="../../assets/imgs/ic_backup_white_24px.svg">
      <h4>Enviar Conteúdo</h4>
    </div>
  </div>
  <div class="programar-conteudo">
    <div>
      <img src="../../assets/imgs/ic_exit_to_app_white_24px.svg">
      <h4>Programar Conteúdo</h4>
    </div>
  </div>
  <div class="downloads">
    <div>
      <img src="../../assets/imgs/ic_file_download_white_24px.svg">
      <h4>Downloads</h4>
    </div>
  </div>
  <div class="ajuda">
    <div>
      <img src="../../assets/imgs/ic_help_white_24px.svg">
      <h4>Ajuda</h4>
    </div>
  </div>
</div>

